
<Config>
	<Description>Libreria - ObtenerProductos</Description>
	<EndPoint>
		<Url>http://localhost:33319/WebServiceTest1.asmx</Url>
	</EndPoint>
	<HeaderCollection>
        <Header>
			<Code>SOAPAction</Code>
			<Value>http://tempuri.org/ObtenerProductos</Value>
		</Header>
		<Header>
			<Code>Accept-Encoding</Code>
			<Value>gzip,deflate</Value>
		</Header>
		<Header>
			<Code>Content-Type</Code>
			<Value>text/xml</Value>
		</Header>
	</HeaderCollection>
</Config>