
<Config>
	<Description>Libreria - ObtenerProducto por SKU</Description>
	<EndPoint>
		<Url>http://localhost:33319/WebServiceTest1.asmx</Url>
	</EndPoint>
	<HeaderCollection>
        <Header>
			<Code>SOAPAction</Code>
			<Value>http://tempuri.org/ObtenerProducto</Value>
		</Header>
		<Header>
			<Code>Accept-Encoding</Code>
			<Value>gzip,deflate</Value>
		</Header>
		<Header>
			<Code>Content-Type</Code>
			<Value>text/xml</Value>
		</Header>
	</HeaderCollection>
	
	<ValidationCollection>
		<Envelope.Body>
			<Validation>
				<Tag>ObtenerProductoResponse.ObtenerProductoResult.Precio</Tag>
				<Operation>Major</Operation>
				<Value>0</Value>
			</Validation>
		</Envelope.Body>
		<!--
		<Envelope.Body.Fault>
			<Validation>
				<Tag>faultcode</Tag>
				<Operation>Equals</Operation>
				<Value>soap:Serverd</Value>
			</Validation>
		</Envelope.Body.Fault>
		-->
	</ValidationCollection>
</Config>