<Config>
  <Description>Libreria - ObtenerProducto por SKU</Description>
  
  <EndPoint>
    <Url>http://localhost:33319/WebServiceTest1.asmx</Url>
  </EndPoint>
  
  <HeaderCollection>
    <Header>
      <Code>SOAPAction</Code>
      <Value>http://tempuri.org/ObtenerProducto</Value>
    </Header>
    <Header>
      <Code>Accept-Encoding</Code>
      <Value>gzip,deflate</Value>
    </Header>
    <Header>
      <Code>Content-Type</Code>
      <Value>text/xml</Value>
    </Header>
  </HeaderCollection>

  <ValidationCollection>
    <Envelope.Header>
      <Validation>
        <Tag>Envelope.Header.Section</Tag>
        <Operation>NotEquals</Operation>
        <Value>2800</Value>
      </Validation>
    </Envelope.Header>
    <Envelope.Body>
      <Validation>
        <Tag>Envelope.Body.ObtenerProductoResponse.ObtenerProductoResult.Precio</Tag>
        <Operation>NotEquals</Operation>
        <Value>3800</Value>
        <Value>2800</Value>
      </Validation>
    </Envelope.Body>
    <Envelope.Body.Fault>
      <Validation>
        <Tag>Envelope.Fault.codigo</Tag>
        <Operation>NotEquals</Operation>
        <Value>3800</Value>
        <Value>2800</Value>
      </Validation>
    </Envelope.Body.Fault>
  </ValidationCollection>

</Config>