
<Config>
	<Description>Insertar Producto</Description>
    <AutomaticSpecialTest>true</AutomaticSpecialTest>
	<EndPoint>
		<Url>http://localhost:33319/WebServiceTest1.asmx</Url>
		
		<!-- Opcional: Valores posibles SOAP | REST -->
		<!-- El valor por omisión: SOAP -->
		<!-- <Type>?</Type>--> 
		
		<!-- Opcional: Algunos de los valores posibles POST | GET | PUT | DELETE  -->
		<!-- El valor por omisión para SOAP: POST -->
		<!-- El valor por omisión para REST: GET -->
		<!--<Method>?</Method>--> 
		
		<!-- Opcional: Solo aplica para REST -->
		<!--<RESTParameters>?</RESTParameters>-->
	</EndPoint>
	
	<HeaderCollection>
        <!-- Válido solo para SOAP -->
        <Header>
			<Code>SOAPAction</Code>
			<Value>http://tempuri.org/InsertarProducto</Value>
		</Header>

        <!-- Parámetros estándar -->
		<Header>
			<Code>Accept-Encoding</Code>
			<Value>gzip,deflate</Value>
		</Header>
		
		<!-- Algunos de los valores posibles: application/json | text/xml -->
		<Header>
			<Code>Content-Type</Code>
			<Value>text/xml</Value>
		</Header>
		
		<!-- Opcional -->
		<!--
		<Header>
			<Code>Accept</Code>
			<Value>?</Value>
		</Header>
		-->
	</HeaderCollection>
	

    <!-- Ejemplos de Validaciones 
         'ValidationCollection' puede contener 3 estructuras:
            * Envelope.Header
            * Envelope.Body
            * Envelope.Body.Fault

        Los valores posibles para 'Operation':
            * Equals: Para valores alfanúmericos, puede usar ${null} para indicar valores nulos
            * NotEquals: Para valores alfanúmericos, puede usar ${null} para indicar valores nulos
            * Major: Para valores númericos
            * Minor: Para valores númericos
    -->
    <!--
	<ValidationCollection>

        <Envelope.Header>
            <Validation>
                <Tag>Section</Tag>
                <Operation>NotEquals</Operation>
                <Value>2800</Value>
            </Validation>
        </Envelope.Header>

        <Envelope.Body>
            <Validation>
                <Tag>ObtenerProductoResponse.ObtenerProductoResult.Precio</Tag>
                <Operation>NotEquals</Operation>
                <Value>3800</Value>
                <Value>2800</Value>
            </Validation>
            <Validation>
                <Tag>ObtenerProductoResponse.ObtenerProductoResult.Stock</Tag>
                <Operation>Major</Operation>
                <Value>100</Value>
            </Validation>
            <Validation>
                <Tag>ObtenerProductoResponse.ObtenerProductoResult.SKU</Tag>
                <Operation>NotEquals</Operation>
                <Value>${null}</Value>
            </Validation>
        </Envelope.Body>

        <Envelope.Body.Fault>
		    <Validation>
			    <Tag>detail.soapFault.tipoError</Tag>
			    <Operation>NotEquals</Operation>
			    <Value>TECNICO</Value>
		    </Validation>
		    <Validation>
			    <Tag>detail.soapFault.tipoError</Tag>
			    <Operation>NotEquals</Operation>
			    <Value>NEGOCIO</Value>
		    </Validation>
		</Envelope.Body.Fault>
	</ValidationCollection>
    -->

</Config>